*{
    margin: 0;
    padding: 0;
}
.container{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-columns: auto auto auto;
    grid-template-rows: 100px 300px ;
    grid-template-areas: 'header header header'
                         'navigation main Slidebar'
                         'navigation main Slidebar'
                         'navigation addtion Slidebar'
                         'footer footer footer';
}
.container > div{
    padding: 15px;
}
.header{
    grid-area: header;
    color: white;
    background:#1e1818;
}
.navigation{
    grid-area: navigation;
    color: white;
    background: #484242;
}
.main{
    grid-area: main;
}
.addtion{
    grid-area: addtion;
    background: #e5e4e2;
    height: 60px;
}
.Slidebar{
    grid-area: Slidebar;
    background: #e5e4e2;
}
.footer{
    grid-area: footer;
    color: white;
    background:#1e1818;
}